/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sidebar-icons,
.header-icons,
.project-icons {
    max-height: 25px;
}

.header-icons {
    max-height: 20px;
}

#logo img {
    max-height: 50px;
}

.avatar-icons {
    max-height: 2.5rem;
    border-radius: 50%;
}

.big-avatar-icon {
    max-height: 3.5rem;
    border-radius: 50%;
}

form {
    display: flex;
}

#header-search {
    display: flex;
}

#search-field,
.search-input {
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #e2e8f0;
    height: 1.3rem;
    flex: 1;
}

.lorem,
.project-title {
    font-size: small;
}

body {
    background-color: #e2e8f0;
    font-family: 'roboto', sans-serif;
    font-size: larger;
}

#sidebar,
.header-buttons {
    background-color: #1992d4
}

#header,
.projects,
#announcements,
.trending-user {
    background-color: #ffffff;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

#sidebar {
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: bolder;
}

#user-menu-1 {
    padding-bottom: 2rem;
}

#logo {
    display: flex;
    padding: 0.75rem;
    align-items: center;
    font-size: larger;
}

#dashboard-logo {
    padding-right: 0.5rem;
}

.menu-wrapper {
    display: flex;
    gap: 1rem;
    padding-left: 0.3rem;
    margin: 1rem;
}

#header {
    font-weight: 500;
}

#header-1 {
    display: flex;
    gap: 3rem;
    padding: 0.5rem;
    align-items: center;
}

#header-search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
}

input#search-field {
    flex: 1;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #e2e8f0;
    height: 1.3rem;
}

#header-notification {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

#header-2 {
    display: flex;
    gap: 3rem;
    padding: 0.5rem;
    align-items: center;
}

#header-user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
}

#spacer {
    border: none;
    margin: 5px;
}

#header-buttons {
    display: flex;
    padding-right: 2rem;
    gap: 1.5rem;
    color: #ffffff;
    font-size: small;
    font-weight: bolder;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 1.8rem;
    width: 4.5rem;
}